.css_fecha_label { }
.css_fecha_line { }
.css_fecha_obj { }
.css_id_cliente_label { }
.css_id_cliente_line {text-align:left;}
.css_id_cliente_obj {text-align:left;}
.css_equipo_label { }
.css_equipo_line { }
.css_equipo_obj { }
.css_performance_label { }
.css_performance_line { }
.css_performance_obj { }
.css_services_label { }
.css_services_line { }
.css_services_obj { }
.css_interfaces_label { }
.css_interfaces_line { }
.css_interfaces_obj { }
.css_vpn_label { }
.css_vpn_line { }
.css_vpn_obj { }
.css_cpu_label { }
.css_cpu_line {text-align:left;}
.css_cpu_obj {text-align:left;}
.css_memory_label { }
.css_memory_line {text-align:left;}
.css_memory_obj {text-align:left;}
.css_bw_label { }
.css_bw_line {text-align:left;}
.css_bw_obj {text-align:left;}
.css_disk1_label { }
.css_disk1_line {text-align:left;}
.css_disk1_obj {text-align:left;}
.css_disk2_label { }
.css_disk2_line {text-align:left;}
.css_disk2_obj {text-align:left;}
.css_backup_label { }
.css_backup_line { }
.css_backup_obj { }
.css_reportes_label { }
.css_reportes_line { }
.css_reportes_obj { }
.css_alertas_label { }
.css_alertas_line { }
.css_alertas_obj { }
.css_observaciones_label { }
.css_observaciones_line { }
.css_observaciones_obj { }
.css_user_mon_label { }
.css_user_mon_line { }
.css_user_mon_obj { }
.css_fw_label { }
.css_fw_line { }
.css_fw_obj { }
.css_sl_label { }
.css_sl_line { }
.css_sl_obj { }
.css_vacio_label { }
.css_vacio_line { }
.css_vacio_obj { }
