.css_cliente_det_label {text-align: right;vertical-align: middle;}
.css_cliente_det_line {height:0px;text-align: right;}
.css_equipo_det_label {text-align: right;vertical-align: middle;}
.css_equipo_det_line {height:0px;text-align: right;}
.css_file_det_label {text-align: right;vertical-align: middle;}
.css_file_det_line {height:0px;text-align: right;}
.css_fecha_det_label {text-align: right;vertical-align: middle;}
.css_fecha_det_line {height:0px;text-align: right;}
