.css_cliente_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_cliente_grid_line {vertical-align: top;text-align: left;}
.css_equipo_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_equipo_grid_line {vertical-align: top;text-align: left;}
.css_file_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_file_grid_line {vertical-align: top;text-align: left;}
.css_fecha_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_fecha_grid_line {vertical-align: top;text-align: left;}
