.css_fecha_label { }
.css_fecha_line { }
.css_fecha_obj { }
.css_id_cliente_label { }
.css_id_cliente_line {text-align:left;}
.css_id_cliente_obj {text-align:left;}
.css_equipo_label { }
.css_equipo_line { }
.css_equipo_obj { }
.css_modules_label { }
.css_modules_line { }
.css_modules_obj { }
.css_drdl_label { }
.css_drdl_line { }
.css_drdl_obj { }
.css_interface_label { }
.css_interface_line { }
.css_interface_obj { }
.css_cpu_label { }
.css_cpu_line {text-align:left;}
.css_cpu_obj {text-align:left;}
.css_memory_label { }
.css_memory_line {text-align:left;}
.css_memory_obj {text-align:left;}
.css_bw_label { }
.css_bw_line {text-align:left;}
.css_bw_obj {text-align:left;}
.css_disk_label { }
.css_disk_line {text-align:left;}
.css_disk_obj {text-align:left;}
.css_storage_label { }
.css_storage_line { }
.css_storage_obj { }
.css_backup_label { }
.css_backup_line { }
.css_backup_obj { }
.css_alertas_label { }
.css_alertas_line { }
.css_alertas_obj { }
.css_observaciones_label { }
.css_observaciones_line { }
.css_observaciones_obj { }
.css_user_mon_label { }
.css_user_mon_line { }
.css_user_mon_obj { }
